<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEke_-BCv_I_Dkz8RIadtNA99Do775yOY</string>
	<key>GCM_SENDER_ID</key>
	<string>359241126871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happenHubMobile</string>
	<key>PROJECT_ID</key>
	<string>happenhub-3edba</string>
	<key>STORAGE_BUCKET</key>
	<string>happenhub-3edba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359241126871:ios:15c0a694d6baa189383192</string>
</dict>
</plist>